{% load static %}
<div class="art-menu-bar">
    <!-- menu bar frame -->
    <div class="art-menu-bar-frame">
      <!-- menu bar header -->
      <div class="art-menu-bar-header">
        <!-- menu bar button -->
        <div class="art-menu-bar-btn">
          <!-- icon -->
          <span></span>
        </div>
        <!-- menu bar button end -->
      </div>
      <!-- menu bar header end -->

      <!-- current page title -->
      <div class="art-current-page"></div>
      <!-- current page title end -->

      <!-- scroll frame -->
      <div class="art-scroll-frame">
        <!-- menu -->
        <nav id="swupMenu">
          <!-- menu list -->
          <ul class="main-menu">
            <!-- menu item -->
            <li class="menu-item current-menu-item">
              <a href="ho">Home</a>
            </li>
            <!-- menu item -->
            <li class="menu-item">
              <a href="{% url "projects" %}">Projects</a>
            </li>
            <!-- menu item -->
            <li class="menu-item">
              <a href="history.html">History</a>
            </li>
            <!-- menu item -->
            <li class="menu-item">
              <a href="contact.html">Contact</a>
            </li>
            <!-- menu item -->
            <li class="menu-item">
              <a href="blog-3-col.html">Blog</a>
            </li>
          </ul>
          <!-- menu list end -->
        </nav>
        <!-- menu end -->

      </div>
      <!-- scroll frame end -->
    </div>
    <!-- menu bar frame -->
  </div>