{% load static %}
<div class="arlo_tm_mobile_menu">
    <div class="mobile_menu_inner">
      <div class="mobile_in">
        <div class="logo" data-type="avatar">
          <div class="avatar" data-img-url="{% static 'img/about/2.jpg' %}"></div>
          <div class="image"><img src="{% static 'img/logo/logo.png' %}" alt /></div>
          <div class="text"><h3>Kaleab</h3></div>
        </div>
        <div class="trigger">
          <div class="hamburger hamburger--slider">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown">
      <div class="dropdown_inner">
        <ul class="anchor_nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="arlo_tm_sidebar">
    <div class="logo" data-type="avatar">
      <div class="avatar" data-img-url="{% static 'img/about/2.jpg' %}"></div>
      <div class="image"><img src="{% static 'img/logo/logo.png' %}" alt /></div>
      <div class="text"><h3>ARLO</h3></div>
    </div>
    <div class="menu scrollable">
      <ul class="anchor_nav">
        <li>
          <a href="#home"><i class="fas fa-home"></i> Home</a>
        </li>
        <li>
          <a href="#about"><i class="fas fa-info-circle"></i> About</a>
        </li>
        <li>
          <a href="#service"><i class="fas fa-cogs"></i> Service</a>
        </li>
        <li>
          <a href="#portfolio"><i class="fas fa-image"></i> Portfolio</a>
        </li>
        <li>
          <a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; Copyright 2023 by Kaleab Hegie</p>
    </div>
    <div class="arlo_tm_resizer">
      <a href="#"><i class="icon-right-dir-2"></i></a>
    </div>
  </div>